@font-face {
  font-family: 'Helvetica';
  src: 
    url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Helvetica.woff') format('woff'), 
    url('../fonts/Helvetica.ttf')  format('truetype'), 
    url('../fonts/Helvetica.otf')  format('opentype'),
    url('../fonts/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DMSerifDisplay';
  src: 
    url('../fonts/DMSerifDisplay-Regular.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/DMSerifDisplay-Regular.woff') format('woff'), 
    url('../fonts/DMSerifDisplay-Regular.ttf')  format('truetype'), 
    url('../fonts/DMSerifDisplay-Regular.svg#DMSerifDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}