.blog{
  &__title-page{
    text-align: center;
    padding-bottom: 2vw;
    border-bottom: 3px solid color('red', 'base');
    margin: 0 auto;
    max-width: 85%;
  }

  &__content{
    padding: 13.5vw 7.29vw 0;
  }

  .featured{
    display: flex;
    margin: 5.2vw 0;

    &__image{
      width: 50%;
      display: flex;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content{
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 2vw 7vw;
    }

    &__infos{
      display: flex;
      justify-content: space-between;

      &--date{
        font-size: 1vw;
        text-transform: uppercase;
      }

      &--label{
        font-size: 1vw;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    &__title{
      font-family: $font-secondary;
      font-size: 2.9vw;
      margin: 2vw 0 1vw;
    }

    &__exerpt{
      font-size: 1vw;
    }
  }

  @media #{$small-and-down} {
    &__content{
      padding: 80px 0 30px;
    }

    .featured{
      flex-direction: column;
      margin: 20px 0 0;

      &__image{
        width: 100%;
      }

      &__content{
        width: 100%;
      }

      &__title{
        font-size: 25px;
      }

      &__exerpt{
        font-size: 14px;
      }

      &__infos{
        &--date{
          font-size: 14px;
        }

        &--label{
          font-size: 14px;
        }
      }
    }
  }
}

.pagination-nav{
  margin: 60px -10px;

  .nav-holder{

    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    span,
    a{
      display: block;
      font-size: 1.04vw;
      font-weight: bold;
      color: white;
      line-height: 1;
      padding: 15px 30px;
      background: #E50019;
      display: flex;
      width: auto;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      margin-right: 15px;
    }

    .page-numbers{
      padding: 15px 20px;
    }
  }
}