.contato{

  .bilheteria {

    .contato__item--text {
      &.bold {
        font-weight: bold;
      }

      &.title {
        margin-bottom: 20px;
        color: #E50019;
        font-size: 1.56vw;
        br {
          display: none;
        }

        @media #{$small-and-down} {
          font-size: 16px;

          br {
            display: block;
          }
        }
      }

      &.link {
        padding-top: 20px;
        
        a {
          font-weight: bold;

          text-decoration: underline;
        }
      }

      &.bigger {

        @media #{$small-and-down} {
        }
      }
    }
  }

  &__title-page{
    text-align: center;
    padding-bottom: 2vw;
    border-bottom: 3px solid color('red', 'base');
    margin: 0 auto 3vw;
    line-height: 1;
  }
  
  &__init{
    padding: 7.29vw 7.29vw 0;
    margin: 0 auto 3vw;

    .icon-tel{
      margin: 0 auto;
      display: flex;
      margin-bottom: 1vw;
      width: 3vw;
    }

    &--item{
      margin-bottom: 1.5vw;
    }

    &--wrapper{
      display: flex;
      flex-wrap: wrap;
      max-width: 80%;
      margin: 0 auto;
    }
  }

  &__sub-title{
    font-size: 1.56vw;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5vw;
    color: color('red', 'base');
    font-weight: bold;
  }

  &__list{
    margin: 0 auto;
  }

  &__item{
    width: 50%;

    &--title{
      font-size: 1.56vw;
      font-weight: bold;
      color: color('red', 'base');
      margin-bottom: 0.5vw;
      display: flex;
    }

    &--text{
      margin: 0;
      
      &.big{
        font-size: 1.77vw;
        text-transform: uppercase;
      }
    }
  }

  &__map{
    display: flex;

    iframe{
      width: 100%;
      height: 31.25vw;
    }
  }

  &__col-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__attendance{
    margin: 5vw 0 8vw;

    &--item{
      &.margin-bottom{
        margin-bottom: 2vw;
      }
    }
  }

  @media #{$small-and-down} {
    &__init{
      padding: 80px 0 0;

      &--wrapper{
        max-width: 100%;
      }
    }

    &__sub-title{
      font-size: 20px;
    }

    &__list{
      flex-direction: column;
    }

    &__item{
      width: 100%;
      margin-bottom: 20px;

      &--title{
        font-size: 16px;
      }
    }

    &__map{
      iframe{
        height: 50vw;
      }
    }
  }
}