.equipe{
  &__title-page{
    text-align: center;
    padding-bottom: 2vw;
    border-bottom: 3px solid color('red', 'base');
    margin: 0 auto;
    max-width: 85%;
  }

  &__content{
    padding: 7.29vw 7.29vw 0;
  }

  &__wrapper{
    margin: 5vw 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item{
    display: flex;
    width: calc(96% / 3);
    margin-bottom: 30px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

    &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8){
      width: calc(96% / 4);
    } 

    &:first-of-type{
      width: 100%;
      margin: 0 auto 3vw;
      padding: 0 18vw;
      display: flex;
      justify-content: center;
      
      .equipe__item--image{
        width: 14vw;
        height: 13vw;
        min-width: 14vw;
      }
    }

    &--image {
      width: 9.3vw;
      height: 9.3vw;
      min-width: 9.3vw;
      display: flex;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 1.3vw;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--wrapper{
      display: flex;
      align-items: end;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 10px;
    }

    &--name{
      font-size: 1.2vw;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 10px;
      white-space: nowrap;
    }

    p{
      margin: 10px 0;
    }

    &--office{
      font-size: 0.8vw;
      text-transform: uppercase;
      color: #7D7C7A;
      font-style: italic;
    }

    &--tel{
      font-size: 1.6vw;
      font-weight: bold;
      margin-right: 15px;
      color: #7D7C7A;
    }

    &--email{
      font-size: 1.6vw;
      font-weight: bold;
      color: #7D7C7A;
    }
  }

  @media #{$small-and-down} {
    &__content{
      padding: 90px 0 30px;
    }

    &__wrapper{
      margin: 30px 0;
    }

    &__item{
      width: 100% !important;
      padding: 0 !important;
      margin-bottom: 30px !important;

      &--image{
        width: 60px !important;
        height: 60px !important;
        min-width: 60px !important;
        margin-right: 15px !important;
      }

      &--wrapper{
        align-items: center;
      }

      &--name{
        font-size: 18px;
      }

      &--office{
        font-size: 16px;
      }

      &--tel{
        font-size: 15px;
      }

      &--email{
        font-size: 15px;
      }
    }
  }
}