.seasons__filter{
    padding-left: calc(15.625vw - 100px);
    padding-right: calc(15.625vw - 100px);

    &--title{
        font-family: $font-secondary;
        font-size: 3.95vw;
        font-style: italic; 
        color: color('red', 'base');
        margin-top: 5vw;
        cursor: pointer;
        border-bottom: 1px solid color('red', 'base');
        position: relative;

        &::after{
            position: absolute;
            content: '';
            background-image: url('../../assets/images/arrow-left.svg');
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            right: 0;
            top: 0; 
            font-size: 20px;
            transform: rotate(225deg);
            transition: transform .6s ease;
        }

        &.show-season{
            &::after{
                transform: rotate(45deg);
            }
        }
    }

    &--all{
        display: none;

        &.show-season{
            display: block;
        }

        &--header{
            
            &-month{
                margin-top: 2.143vw;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
            
                &_title{
                    font-size: 2vw;
                    cursor: pointer;
                    padding-bottom: 12px;
                    pointer-events: none;
                    color: #aaa;
            
                    &.active{
                        color: color('red', 'base');
                        border-bottom: 1px solid color('red', 'base');
                    }
                }
            }
        }
    
        &--content{
            display: none;

            &.active{
                display: block;
            }

            &--list{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;

                &-item{
                    max-width: 33.33%;
                    padding: 0 40px;
                    &_label{
                        font-size: 13px;
                        line-height: 1;
                        color: white;
                        background: color('red', 'base');
                        padding: 5px 10px;
                        margin-right: auto;
                        max-width: 120px;
                        margin-top: 20px;
                    }
                    &_title{
                        font-family: $font-secondary;
                        font-size: 2vw;
                        font-style: italic;
                    }
                }
            }
        }
    }

    @media #{$small-and-down}{
        &--title{
            font-size: 36px;
        } 
        &--all{
            &--header{
                &-month{
                    flex-wrap: wrap;
                    &_title{
                        font-size: 20px;
                        padding: 10px;
                    }
                }
            }

            &--content{
                &--list{
                    display: block;

                    &-item{
                        padding: 0;
                        margin-bottom: 20px;
                        max-width: 100%;

                        &_label{
                            margin-top: 10px;
                        }

                        &_title{
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

}
  