.evento{
  .container{
    padding: 0 7.29vw;

    @media #{$small-and-down}{
      padding: 0;
    }
  }

  .banner{
    display: flex;

    a{
      position: relative;
    }

    .float-image{
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
    }

    @media #{$small-and-down} {
      min-height: 230px;
      padding-top: 60px;
      background-color: black;

      a{
        display: flex;
        align-items: center;
      }

      .float-image{
        top: 35%;
        width: 50px;
        min-height: unset !important;
      }

      img{
        object-fit: cover;
        min-height: 230px;
      }
    }
  }

  .intro{
    padding-top: 400px;
    @media #{$small-and-down}{
      padding-top: 120px;
    }
    &__box{
      padding: 0 5.72vw;
      background: #EDEDED;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: -6.5vw;
      position: relative;

      &--image{
        width: 24.5vw;
        margin-top: -7vw;
        margin-right: auto;
      }

      &--title{
        font-family: $font-secondary;
        font-size: 4.2vw;
        text-align: right;
        width: auto;
      }

      &--text{
        color: #7D7C7A;
        text-align: right;
        max-width: calc(100% - 17vw);
        margin-left: auto;
        font-size: 20px;
      }
    }

    @media #{$small-and-down}{
      &__box{
        flex-direction: column;
        align-items: center;
        padding: 0;

        &--image{
          width: 80%;
          margin-top: -50px;
          text-align: center;
          margin-right: 0;
        }

        &--title{
          font-size: 21px;
          text-align: center;
          width: 100%;
        }

        &--text{
          margin: 0;
          text-align: left;
          max-width: 100%;
        }
      }
    }
    .flex-title{
      display: flex;
    }
  }

  .dates{
    padding: 5.2vw 0;

    &__title{
      font-family: $font-secondary;
      font-size: 4.2vw;
      line-height: 1;
      display: flex;
      align-items: center;

      &:after{
        content: "";
        width: auto;
        height: 3px;
        flex: 1;
        background: red;
        margin-left: 30px;
      }
    }

    &__list{
      margin: 4.4vw 0;
      padding: 0 5.72vw;
    }

    &__item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4.4vw;

      &--name{
        font-family: $font-secondary;
        font-size: 2.5vw;
        font-style: italic;
        color: color('red', 'base');
        display: flex;
        align-items: center;
        flex: 1;

        &:after{
          content: "";
          width: auto;
          height: 2px;
          flex: 1;
          background: color('shades', 'black');
          margin: 0 30px;
        }
      }
    }

    @media #{$small-and-down} {
      padding: 30px 0;

      &__title{
        font-size: 25px;
      }

      &__list{
        padding: 0;
      }

      &__item{
        .button{
          line-height: 1.2;
          font-size: 14px;
          padding: 10px 20px;
          width: min-content;
          text-align: center;
        }

        &--name{
          font-size: 18px;
        }
      }
    }
  }
}