.experiencia{
  h1, h2{
    margin: 0;
  }

  .content{
    &__item{
      background: white;
      position: relative;
      padding: 5vw 7.5vw;
      border-bottom: 3px solid color('red', 'base');
      display: flex;
	    flex-direction: column;

      &.initial{
        margin-top: -7.55vw;
      }

      &--text{
        margin-top: 3vw;
      }

      &--image{
        margin: 5vw -7.5vw;
        width: calc(100% + 15vw);

        img{
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }

  @media #{$small-and-down} {
    .banner{
      img{
        min-height: 200px;
      }
    }

    .content{
      &__item{
        margin-top: 0 !important;
        padding: 20px 0;

        &--image{
          margin: 20px 0;
          width: 100%;
        }
      }
    }
  }
}