.faca-seu-evento{
  h1, h2{
    margin: 0;
  }

  .banner{
    @media #{$small-and-down} {
      img{
        min-height: 200px;
        object-fit: cover;
      }
    }
  }

  .content{
    &__item{
      background: white;
      position: relative;
      padding: 5vw 7.5vw;

      &.initial{
        margin-top: -7.55vw;
        border-bottom: 3px solid color('red', 'base');
      }

      &--text{
        margin-top: 3vw;
      }
    }

    @media #{$small-and-down} {
      &__item{
        margin: 0 !important;
        padding: 20px 0;
      }
    }
  }

  .structure{
    &__image{
      padding-right: 7.5vw;
      margin-bottom: -4vw;

      .image-frame{
        width: 36.4vw;
        height: 35.4vw;

        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
          
        }
      }
    }

    .swiper-gallery{
      &__navigation{      
        &--button{
          cursor: pointer;
          position: absolute;
          top: 60%;
          transform: translateY(-50%);
          z-index: 11;          
        }
      }

      &__pagination{
        bottom: -5vw;

        .swiper-pagination-bullet{
          width: 0.8vw !important;
          height: 0.8vw !important;
          opacity: 1 !important;
          border: 1px solid #AFAFAF;
          background: transparent;

          &.swiper-pagination-bullet-active{
            background: #AFAFAF;
          }
        }
      }
    }

    &__block-right{
      padding-right: 7.5vw;
      display: flex;
      flex-direction: row;
      padding-bottom: 7.5vw;      

      .structure__gallery{
        padding: 0 3vw 3vw 0;

        .swiper-gallery{
          &__navigation{
            &--button{
              &.prev{
                left: 1vw;
              }
              &.next{
                right: -3.5vw;
              }
            }
          }
        }
      }

      .image-frame{
        img{
          transform: translate(2vw, 2vw) !important;
        }
      }

      &--content{
        padding-left: 5vw;
        position: relative;
        z-index: 10;
      }

      &--title{
        text-align: right;
      }

      &--text{
        text-align: right;
        padding-right: 5vw;

        p{
          text-align: right;
        }
      }
    }

    &__block-left{
      padding-left: 7.5vw;
      display: flex;
      flex-direction: row-reverse;
      padding-bottom: 7.5vw;

      &.final{
        padding-bottom: 0;
      }

      .structure__gallery{
        padding: 0 0 3vw 3vw;

        .swiper-gallery{
          &__navigation{
            &--button{
              &.prev{
                left: -3.5vw;
              }
              &.next{
                right: 1vw;
              }
            }
          }
        }
      }

      &--content{
        padding-right: 5vw;
        position: relative;
        z-index: 10;
      }

      &--title{
        text-align: left;
      }

      &--text{
        text-align: left;
        padding-left: 5vw;

        p{
          text-align: left;
        }
      }
    }

    &__gallery{
      width: 48.6vw;
      min-width: 48.6vw;
      height: 38.2vw;

      .swiper-container{
        overflow: visible;
        width: 100%;
        height: 100%;

        .swiper-slide{
          width: 100%;
          display: flex;
          opacity: 0;
          transition: ease .4s;

          &.swiper-slide-active{
            opacity: 1;
            transition: ease .4s;
          }
        }

        .image-frame{
          width: 100% !important;
          height: 100% !important;
        }

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    @media #{$small-and-down} {
      &__image{
        .image-frame{
          width: 100%;
          margin-bottom: 20px;
          height: 50vw;
        }
      }

      .swiper-gallery{
        &__navigation{
          display: none;
        }

        &__pagination{
          bottom: -40px;

          .swiper-pagination-bullet{
            width: 12px !important;
            height: 12px !important;
          }
        }
      }

      &__block-right{
        flex-direction: column;
        padding: 0;
        margin-bottom: 20px;

        &--content{
          padding: 0;
          margin: 15px 0;
        }
      }
      &__block-left{
        flex-direction: column;
        padding: 0;
        margin-bottom: 20px;

        &--content{
          padding: 0;
          margin: 15px 0;
        }
      }

      &__gallery{
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  .gallery{
    padding: 10.4vw 0 5vw;

    .select-gallery{
      display: none;
      background: no-repeat;
      border-radius: 0 !important;
      -webkit-appearance: none;
      border: none;
      border-bottom: 2px solid color('shades', 'black');
      margin-right: 25px;
      color: color('red', 'base');
      background-image: url(../images/bg-select.png);
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: center;
      font-size: 18px;
      padding-right: 20px;
      background-size: 10px;
    }

    &__title{
      margin-left: 15.625vw;
      display: flex;
      align-items: center;

      &:after{
        content: "";
        height: 3px;
        width: auto;
        background: color('red', 'base');
        display: flex;
        flex: 1;
        margin-left: 30px;
      }
    }

    &__tab-list{
      display: flex;
//       justify-content: space-between;
      margin: 2.5vw 0;
      flex-wrap: wrap;
    }

    &__tab{
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: calc(100% / 5);

      &--link{
        margin-bottom: 2.6vw;
        font-family: $font-secondary;
        font-size: 1.8vw;
        line-height: 1;
        color: color('shades', 'black');
        position: relative;
        transition: ease .4s;

        &:before{
          content: "";
          position: absolute;
          bottom: -15px;
          left: 50%;
          transform: translateX(-50%);
          width: 75%;
          height: 3px;
          background: color('red', 'base');
          opacity: 0;
          transition: ease .4s;
        }

        &:hover{
          color: color('red', 'base');
          transition: ease .4s;

          &:before{
            opacity: 1;
            transition: ease .4s;
          }
        }

        &.active{
          color: color('red', 'base');
          transition: ease .4s;

          &:before{
            opacity: 1;
            transition: ease .4s;
          }
        }
      }

      &--image{
        width: 20.8vw;
        height: 12.5vw;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &__content{
      display: none;

      &.active{
        display: block;
      }

      &--list{
        display: flex;
        flex-wrap: wrap;
      }

      &--item{
        width: calc((100% - 9vw) / 3);
        height: 15.6vw;
        margin: 1.5vw;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    @media #{$small-and-down} {
      padding: 10px 0;

      .select-gallery{
        display: block;
        margin: 20px 0;
      }

      &__title{
        margin-left: 30px;
      }

      &__tab-list{
        flex-wrap: wrap;
        justify-content: initial;
        margin: 20px 0 0;
        display: none;
      }

      &__tab{
        margin-right: 30px;

        &--link{
          font-size: 18px;

          &:before{
            display: none;
          }
        }

        &--image{
          display: none;
        }
      }

      &__content{
        &--list{
          justify-content: space-between;
        }

        &--item{
          width: 48%;
          height: 25vw;
          margin: 0;
          margin-bottom: 4%;
        }
      }
    }
  }

  .event{
    background-image: url(../images/bg-evento.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 7.5vw 0;

    &__content{
      max-width: 34.3vw;
    }

    &__form{
      width: 29.1vw;

      .input-field{
        width: 100%;
        height: 2.8vw;
        background: #F7F7FD;
        border: 2px solid color('red', 'base');
        padding: 0 2.6vw;
        margin-bottom: 1.3vw;
        border-radius: 4px;
        
        &.select-field{
	        background-image: url(../images/arrow-down.svg);
	        background-repeat: no-repeat;
	        background-position-x: 1vw;
			    background-position-y: 1vw;
			    background-size: 1vw;
        }

        input{
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          font-size: 1vw;
          font-family: 'Helvetica';

          &::-webkit-input-placeholder { /* Edge */
            color: #7D7C7A;
            font-size: 1vw;
            text-transform: uppercase;
            font-family: 'Helvetica';
          }
          &::-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #7D7C7A;
            font-size: 1vw;
            text-transform: uppercase;
            font-family: 'Helvetica';
          }
          &::placeholder {
            color: #7D7C7A;
            font-size: 1vw;
            text-transform: uppercase;
            font-family: 'Helvetica';
          }
        }

        select{
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          color: #7D7C7A;
          font-size: 1vw;
          text-transform: uppercase;
          font-family: 'Helvetica';
          -webkit-appearance: none;
          appearance: none;
        }
      }

      .button{
        border: none;
      }
    }

    @media #{$small-and-down} {
      &__content{
        max-width: 100%;
      }

      &__form{
        width: 100%;

        .input-field{
          height: 40px;
          margin-bottom: 10px;

          input{
            font-size: 14px;

            &::-webkit-input-placeholder { /* Edge */
              font-size: 14px;
            }
            &::-ms-input-placeholder { /* Internet Explorer 10-11 */
              font-size: 14px;
            }
            &::placeholder {
              font-size: 14px;
            }
          }

          select{
            font-size: 14px;
          }
        }
      }
    }
  }

  .partners{
    padding: 7.5vw 0 5vw;

    &:after{
      content: "";
      width: 45vw;
      height: 3px;
      background: color('red', 'base');
      display: flex;
      margin: 0 auto;
    }

    &__title{
      margin-left: 15.625vw;
      display: flex;
      align-items: center;

      &:after{
        content: "";
        height: 3px;
        width: auto;
        background: color('red', 'base');
        display: flex;
        flex: 1;
        margin-left: 30px;
      }
    }

    &__list{
      display: flex;
      margin: 5vw 0 0;
      padding: 0 3vw;
      justify-content: center;

      @media #{$small-and-down}{
        flex-direction: column;
      }
      
    }

    &__item{
      width: calc((100% - 7vw));
      margin: 0 .5vw 3.5vw .5vw;
      display: flex;
      align-items: center;
      flex-direction: column;

      &:nth-child(3n){
        margin-right: 0;
      }

      &--image{
        max-width: 200px;
        height: auto;
        display: flex;
        overflow: hidden;

        @media #{$small-and-down} {
          justify-content: center;
        }

        .parceiros:second-child{
          width: 100px;
        }

        img{
          object-fit: cover;
          max-width: 170px;
          height: 70px;
        }
      }

      &--text{
        text-align: center;
        color: #7D7C7A;
      }
    }

    @media #{$small-and-down} {
      padding: 20px 0;

      &__item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;

        &--image{
          // width: 100px;
          // height: 100px;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .customers{
    padding-bottom: 5vw;

    .container{
      position: relative;
    }

    &__slide{
      width: calc((14.5vw * 4) + 120px);
      margin: 5vw auto;
      z-index: 10;

      .swiper-slide{
        width: 14.5vw;
        height: 14.5vw;
        display: flex;
        background: color('red', 'base');
        border-radius: 50%;
        overflow: hidden;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &__navigation{
      position: absolute;
      z-index: 9;
      left: 50%;
      top: 50%;
      width: 85%;
      display: flex;
      justify-content: space-between;
      transform: translate(-50%, 3.5vw);

      &--button{
        cursor: pointer;
      }
    }

    &__pagination{
      bottom: -3vw;
      display: flex;
      justify-content: center;
      width: 100%;

      .swiper-pagination-bullet{
        width: 0.8vw !important;
        height: 0.8vw !important;
        opacity: 1 !important;
        border: 1px solid #AFAFAF;
        background: transparent;
        margin: 0 0.5vw;

        &.swiper-pagination-bullet-active{
          background: #AFAFAF;
        }
      }
    }

    @media #{$small-and-down} {
      padding: 30px 0;

      &__slide{
        width: 100%;
        overflow: visible;

        .swiper-slide{
          width: 100px;
          height: 100px;
        }
      }

      &__navigation{
        display: none;
      }

      &__pagination{
        bottom: -30px;

        .swiper-pagination-bullet{
          width: 12px !important;
          height: 12px !important;
        }
      }
    }
  }
}