.home{
  section:not(.banner){
    padding: 100px 0 150px;

    @media #{$small-and-down} {
      padding: 30px 0;
    }
  }
  
  .banner{
    &__container{
      .swiper-slide{
        display: flex;
        align-items: center;

        @media(min-width: 767px) {
          height: calc(100vh - 60px);
          margin-top: 14px;
        }
      }
    }
  
    &__image {
      filter: brightness(0.8);

      &.mobile {
        display: block;

        @media(min-width: 768px) {
          display: none;
        }
      }

      &.desktop {
        display: none;
        
        @media(min-width: 768px) {
          display: block;
        }
      }
    }
  
    &__float-content{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      margin-left: 15.625vw;
      z-index: 12;
      display: flex;
	    flex-direction: column;
    }
  
    &__title{
	    font-family: $font-secondary;
      font-size: 4.58vw;
      color: white;
      max-width: 634px;
      line-height: 1;
    }
  
    &__sub-title{
      display: flex;
      margin: 35px 0;
      color: white;
      font-size: 1.875vw;
      text-transform: uppercase;
      max-width: 430px;
      line-height: 1;
    }
  
    &__navigation{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 11;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      &--button{
        cursor: pointer;
  
        &.swiper-button-disabled {
          opacity: .8;
          cursor: not-allowed;
          display: none;
        }
      }
    }
  
    .swiper-pagination{
      bottom: 2.60vw !important;
      z-index: 12 !important;
  
      .swiper-pagination-bullet{
        width: 16px;
        height: 16px;
        background: transparent;
        border: 1px solid white;
        opacity: 1 !important;
        transition: ease .4s;
  
        &.swiper-pagination-bullet-active{
          background: white;
          transition: ease .4s;
        }
      }
    }

    @media #{$small-and-down} {
      &__image{
        height: auto;
        min-height: 300px;
        width: 100%;
        object-fit: cover;
      }

      &__navigation{
        display: none;
      }

      &__float-content{
        margin: 0;
        padding: 0 30px;
        width: calc(100% - 60px);
      }

      &__title{
        font-size: 24px;
      }

      &__sub-title{
        font-size: 16px;
        margin: 15px 0;
        line-height: 1.2;
      }
    }
  }

  .about{
    &__image{
      &--container{
        margin-left: auto;
        max-width: 85%;
        margin-top: 4.16vw;
      }
    }

    @media #{$small-and-down}{
      &__image{
        &--container{
          max-width: 100%;
        }
      }
    }
  }

  .structure{
    padding-bottom: 9.1vw !important;

    .container{
      position: relative;
    }

    &__slider{
      overflow: visible;

      .swiper-slide{
        display: flex;
        align-items: flex-start;
        opacity: 0;
        transition: ease .2s;
        // transition-delay: .4s;

        &.swiper-slide-active{
          opacity: 1;
          transition: ease .4s;
          transition-delay: .2s;
        }
      }
    }

    &__navigation{      
      &--button{
        cursor: pointer;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        z-index: 11;

        &.prev{
          left: 0;
        }
        &.next{
          right: 0;
        }
      }
    }

    &__gallery{
      width: 50%;
      position: relative;
      z-index: 1;

      .swiper-gallery{
        overflow: visible;
        width: 100%;
  
        &__image{
          max-width: 100%;
          width: 100%;
        }
  
        &__pagination{
          bottom: -5vw;
  
          .swiper-pagination-bullet{
            width: 0.8vw !important;
            height: 0.8vw !important;
            opacity: 1 !important;
            border: 1px solid #AFAFAF;
            background: transparent;
  
            &.swiper-pagination-bullet-active{
              background: #AFAFAF;
            }
          }
        }
      } 
    }

    &__title{
      position: absolute;
      right: 10.41vw;
      top: 0;
      line-height: 1;
    }

    &__content{
      width: 50%;
      margin: 7vw 15.10vw 0 2.60vw;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      z-index: 2;

      &--title{
        font-size: 1.87vw;
        font-weight: bold;
        color: #e62717;
        line-height: 1;
      }

      &--text{
        max-width: 29.32vw;
        text-align: end;
        //height: 205px;
        overflow: auto;
      }
    }

    @media #{$small-and-down} {
      &__slider{
        .swiper-slide{
          flex-direction: column;
        }
      }

      &__navigation{
        display: none;
      }

      &__gallery{
        width: 100%;
        margin-top: 30px;
        padding-bottom: 30px;

        .swiper-gallery{
          &__pagination{
            bottom: -40px;
    
            .swiper-pagination-bullet{
              width: 12px !important;
              height: 12px !important;
            }
          }
        }
      }

      &__title{
        position: relative;
        text-align: center;
        right: 0;
      }

      &__content{
        width: 100%;
        margin: 0;
        padding-top: 30px;
        // margin-bottom: 30px;

        &--title{
          font-size: 22px;
        }
        
        &--text{
	        max-width: unset;
        }
      }
    }
  }

  .programming{
    background-image: url(../images/bg-prog.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #1A1818;
    display: flex;
    position: relative;
    
    &:before{
      content: "";
	    position: absolute;
	    width: 2px;
	    height: calc(100% - 5.2vw);
	    background: #E50019;
	    left: 49.5%;
	    top: 2.6vw;
	    z-index: 1;
    }

    &__content{
      max-width: 34.375vw;
      margin-left: 15.625vw;
      display: flex;
	    flex-direction: column;
    }

    &__slider{
      padding-left: 4.27vw;
      margin-left: 4.27vw;
      overflow: hidden;
//       border-left: 2px solid #E50019;
      padding-bottom: 80px;

      .swiper-container{
        overflow: visible;
      }

      .programming{
        &__navigation{      
          &--button{
            cursor: pointer;
            position: absolute;
            top: 95%;
            transform: translateY(-50%);
            z-index: 11;
            padding-top: 150px;
    
            &.prev{
              left: 0;
            }
            &.next{
              right: 0;
            }
          }
        }
      }
    }

    &__item{
      width: 18.48vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--image{
        display: flex;
        align-items: center;
        height: 26vw;
        width: 100%;
        
        img{
          width: 100%;
			    height: 100%;
			    object-fit: cover;
        }
        
        @media (max-width: 768px) {
	        height: 316px;
        }
      }

      &--title{
        font-family: $font-secondary; 
        font-size: 1.51vw;
        margin-top: 15px;
        color: color("red", "base");
        text-align: center;
        line-height: 1.2;
      }

      &--date{
        font-size: 1.14vw;
        color: white;
      }
    }

    @media #{$small-and-down} {
      display: flex;
      flex-direction: column;
      
      &:before{
	      display: none;
      }

      &__content{
        margin: 0;
        max-width: 100%;
        padding: 0 30px 30px;
      }

      &__slider{
        margin: 0;
        border: 0;
        padding: 0 30px;
        overflow: visible;
      }

      &__item{
        width: 222px;

        &--title{
          font-size: 22px;
        }

        &--date{
          font-size: 16px;
        }
      }
    }
  }

  .blog{
    &__title{
      margin-left: 15.625vw;
      display: flex;
      align-items: center;

      &:after{
        content: "";
        height: 3px;
        width: auto;
        background: color('red', 'base');
        display: flex;
        flex: 1;
        margin-left: 10px;
      }
    }

    @media #{$small-and-down} {
      &__title{
        margin-left: 30px;
      }
    }
  }
}
