.ingressos{
    &__content{
        position: relative;
        margin: 7.29vw 0;
    }

    &__menu{
        position: fixed;
        top: 300px;
        display: block;
        
        &--item{
            a{
                font-size: 1.04vw;
                color: #4D4D4D;
                cursor: pointer;
                padding-bottom: 10px;
                border-bottom: 1px solid #E50019;
            }
        }
    }

    &__wrapper{
        margin-left: 190px;

        &--bloco{
            text-align: justify;
            width: 46.96vw;
            margin: 0 auto;

            .bloco1{
                display: none
            }

            .importante{
                color: #E50019;
                font-size: 1.25vw;
            }

            h2{
                font-family: "DMSerifDisplay";
                text-align: center;
                position: relative;
                font-size: 2.92vw;
                margin-bottom: 82px;

                &:after{
                    content: '';
                    position: absolute;
                    background-color: #E50019;
                    width: 59.4vw;
                    height: 3px;
                    bottom: -26px;
                    left: -15%;
                }
            }

            h4{
                font-size: 1.66vw;
                font-weight: bold;
                color: #E50019;
                margin-bottom: 24px;
            }

            img{
                margin-top: 16px;
                width: 100%;
                height: auto;
            }

            p{
                margin: 0;
                color: #7D7C7A;
                font-size: 1.25vw;
            }

            li{
                color: #7D7C7A;
                font-size: 1.25vw;
                margin-bottom: 20px;

                span{
                    color: #E50019;
                    font-size: 1.66vw;
                    font-weight: bold;
                    margin-right: 10px;
                }

                .subtitulo{
                    display: block;
                    color: #7D7C7A;
                    font-size: 0.78vw;
                    font-style: italic;

                    p{
                        font-size: 0.78vw;
                    }

                    strong{
                        color: #E50019;
                    }

                }

                a{
                    color: #E50019;
                    text-decoration: underline;
                }

            }

            .cabecalho{
                display: flex;
                align-items: baseline;
            }

            &:nth-child(2){
                h4{
                    margin-top: 30px;
                    margin-bottom: 10px;
                }

                p{
                    margin: 0;

                    strong{
                        display: block;
                        color: #1A1818;
                    }
                }
            }

            &:nth-child(4){
                font-size: 1.25vw;

                p{
                    color: #7D7C7A;
                    margin-top: 0;
                }

                strong{
                    color: #E50019;
                    margin-bottom: 10px;
                    margin-top: 30px;
                    display: inline-block;
                    text-align: left;
                }

                a{
                    color: #000;
                    text-decoration: underline;
                }
            }

            &:nth-child(5){
                strong{
                    color: #E50019;
                    margin-bottom: 10px;
                    font-size: 1.66vw;
                }

                p{
                    color: #7D7C7A;
                    margin: 0;

                    a{
                        color: #000;
                    }
                }
            }

            &:first-child{
                .bloco1{
                    display: block;
                }
            }

        }

        hr{
            width: 27.7vw;
            background-color: #707070;
            opacity: .35;
            margin: 70px auto;
        }
    }

    .button_top{
        background-color: #E50019;
        border-radius: 65px;
        bottom: 14px;
        box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
        color: #fff;
        cursor: pointer;
        height: 35px;
        position: fixed;
        right: 22px;
        width: 35px;
        z-index: 3;
        display: none;

        &::after {
            content: '▲';
            display: flex;
            justify-content: center;
            padding-left: 1px;
            padding-top: 5px;
          }
    }

    @media #{$medium-and-down}{
        &__content{
            padding: 10px 0 30px;
        }

        &__wrapper{
            margin-left: 0;

            &--bloco{
                width: 100%;

                .importante{
                    font-size: 16px;
                }
    
                h2{
                    font-size: 32px;
                    margin-bottom: 50px;

                    &:after{
                        bottom: -10px;
                        left: 40px;
                    }
                }
    
                h4{
                    font-size: 20px;
                }
    
                p{
                    font-size: 16px;
                }
    
                li{
                    font-size: 16px;
    
                    span{
                        font-size: 18px;
                    }
    
                    .subtitulo{
                        font-size: 10px;
    
                        p{
                            font-size: 10px;
                        }
        
                    }
    
                }
    
                &:nth-child(4){
                    font-size: 16px;
                }
    
                &:nth-child(5){
                    strong{
                        font-size: 20px;
                    }
                }
    
            }

            hr{
                margin: 40px auto;
            }
        }
        
        &__menu{
            width: 100%;
            display: block;
            position: unset;
            padding-top: 0px;
            padding-bottom: 20px;

            a{
                font-size: 16px;
            }

            &--item{
                margin-top: 20px;
            }
        }

        .button_top{
            display: block;
        }
    }
}