.programacao{
  .slider{
    padding: 100px 0;
    background-image: url(../images/bg-programacao.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .swiper-programming{
      overflow: visible;      
    } 
    
    &__pagination{
	    bottom: -50px !important;
	    
	    .swiper-pagination-bullet{
		    background: white !important;
		    width: 10px;
		    height: 10px;
	    }
    }

    &__item{
      width: 18.48vw;
      margin-right: 3vw !important;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--image{
        display: flex;
        align-items: center;
        height: 26vw;
        width: 100%;
        
        img{
          width: 100%;
			    height: 100%;
			    object-fit: cover;
        }
        
        @media (max-width: 768px) {
	        height: 282px;
        }
      }

      &--title{
        font-family: $font-secondary; 
        font-size: 1.51vw;
        font-style: italic;
        margin-top: 15px;
        color: color("red", "base");
        text-align: center;
      }

      &--date{
        font-size: 1.14vw;
        color: white;
        margin-bottom: 10px;
      }
    }

    @media #{$small-and-down} {
      padding: 80px 0 80px;

      &__item{
        width: 200px;
        margin-right: 30px !important;

        &--title{
          font-size: 22px;
          line-height: 1;
          text-align: center;
          margin-bottom: 10px;
        }

        &--date{
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }

  .calendar{
    position: relative;
    padding: 100px 0;

    &:before{
      content: "";
      position: absolute;
      top: calc(100px + 3.5vw);
      left: 0;
      width: 13vw;
      height: 3px;
      background: color('red', 'base');
    }

    &:after{
      content: "";
      position: absolute;
      top: calc(100px + 3.5vw);
      right: 0;
      width: 57vw;
      height: 3px;
      background: color('red', 'base');
    }

    &__header{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      &--filters{
        padding-bottom: 10px;
        margin-left: 20px;

        label{
          font-size: 1.45vw;
          font-weight: bold;
          text-transform: uppercase;
        }

        select{
          background: no-repeat;
          border-radius: 0 !important;
          -webkit-appearance: none;
          font-size: 1.45vw;
          border: none;
          border-bottom: 2px solid color('shades', 'black');
          margin-right: 25px;
          color: color('red', 'base');
          padding-right: 1.30vw;
          background-image: url(../images/bg-select.png);
          background-repeat: no-repeat;
          background-position-x: right;
          background-position-y: center;
          background-size: 0.88vw;
        }
      }
    }

    &__content{
      &--date-wrapper{
        padding-top: 5.72vw;
      }

      &--date-title{
        font-family: $font-secondary;
        font-size: 3.95vw;
        font-style: italic; 
        color: color('red', 'base');
        margin-top: 5vw;
      }      
    }

    &__list{
      margin: 0;
    }

    &__item{
      display: flex;
      padding-top: 3.125vw;
      padding-bottom: 3.125vw;
      border-bottom: 1px solid #AFAFAF;

      &--image{
        width: 15.43vw;
        display: flex;
        align-items: center;
        margin-right: 4vw;
      }

      &--content{
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      
      &--label{
        font-size: 13px;
        line-height: 1;
        color: white;
        background: color('red', 'base');
        padding: 5px 10px;
        margin-right: auto;
      }

      &--title{
        font-family: $font-secondary;
        font-size: 2.91vw;
        font-style: italic;
      }

      &--text{
        font-style: 1.25vw;
        color: #7D7C7A;
      }

      &--date{
        font-size: 1.14vw;
        margin-bottom: 1.5vw;
        padding-top: 15px;
        border-top: 3px solid color('red', 'base');
        margin-right: auto;
        padding-right: 30px;
      }
    }

    .eventos-realizados{
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2{
        font-family: "DMSerifDisplay";
        font-size: 5vw;
        line-height: 1;

        &:before{
          content: "";
          position: absolute;
          bottom: calc(100px + 5.5vw);
          left: 0;
          width: 13vw;
          height: 3px;
          background: color('red', 'base');
        }

        &:after{
          content: "";
          position: absolute;
          bottom: calc(100px + 5.5vw);
          right: 0;
          width: 57vw;
          height: 3px;
          background: color('red', 'base');
        }
      }

      a{
        z-index: 2;
        padding-bottom: 10px;
        margin-right: calc(15.625vw - 50px);
      }
    }

    @media #{$small-and-down} {
      padding: 70px 0;

      &:before{
        display: none;
      }
      &:after{
        display: none;
      }

      &__header{
        flex-direction: column;
        align-items: flex-start;

        &--filters{
          margin-left: 0;
          display: flex;
          flex-wrap: wrap;

          label{
            width: 100%;
            font-size: 14px;
          }

          select{
            font-size: 18px;
            padding-right: 20px;
            background-size: 10px;
            margin-bottom: 5px;
          }
        }
      }

      &__content{
        &--date-title{
          font-size: 20px;
        }
      }

      &__item{
        flex-direction: column;
        padding-bottom: 30px;

        &--image{
          width: 100%;
        }

        &--label{
          font-size: 15px;
          margin-top: 10px;
        }

        &--title{
          font-size: 22px;
        }

        &--date{
          font-size: 18px;
          margin-bottom: 10px;
          padding-top: 10px;
        }
      }
      .eventos-realizados{
        display: block;
        h2{
          &:before{
            display: none;
          }
          &:after{
            display: none;
          }
        }
      }
    }
  }
}