.single{
  &__banner{
    img{
      width: 100%;
      max-height: 38vw;
      object-fit: cover;
    }
  }

  &__content{
    padding: 4.8vw 0 0;

    &--head{
      display: flex;
      align-items: center;
    }

    &--date{
      font-size: 1vw;
      margin: 0 2vw;
      text-transform: uppercase;
    }

    &--tag{
      font-size: 1vw;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__title{
    font-family: $font-secondary;
    font-size: 3.75vw;
  }

  &__article{
    h2{
      font-size: 1.6vw;
    }

    p{
      color: #7D7C7A;
      margin: 2.5vw 0;
    }

    .wp-block-image{
      width: calc(100% + 15vw);
      max-width: calc(100% + 15vw);
      margin-left: -7.5vw;

      img{
        width: auto;
        height: auto;
        max-width: 100%;
      }
    }
    img{
        width: auto;
        height: auto;
        max-width: 100%;
    }
    
    ul{
      padding-left: 25px;
      
	    li{
		    list-style-type: disc;
		    font-size: 1.25vw; 
	    }
    }
  }

  &__share{
    display: flex;
    align-items: center;
    margin-top: 5vw;
    padding-bottom: 2vw;
    border-bottom: 3px solid color('red', 'base');

    &--label{
      font-size: 16px;
      font-weight: bold;
      margin-right: 30px;
    }

    &--link{
      width: 30px;
      margin-right: 15px;
    }
  }

  &__blog{
    padding: 3vw 0 7vw;
  }

  @media #{$small-and-down} {
    &__banner{
      img{
        min-height: 200px;
        object-fit: cover;
      }
    }

    &__title{
      font-size: 22px;
    }

    &__article{
      h2{
        font-size: 18px;
      }
      
      ul{	      
		    li{
			    list-style-type: disc;
			    font-size: 14px; 
		    }
	    }
    }

    &__content{
      padding: 30px 0 0;

      &--date{
        font-size: 14px;
      }

      &--tag{
        font-size: 14px;
      }

      &--head{
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &--category{
        margin-right: 100px;
        margin-bottom: 10px;
      }
    }
  }
}