.arrow{
  &__right{
    &:before{
      content: '';
      background-image: url(../images/arrow.svg);
      background-size: 100% 100%;
      width: 3.125vw;
      height: 3.125vw;
      display: flex;
    }
  }

  &__left{
    &:before{
      content: '';
      background-image: url(../images/arrow-left.svg);
      background-size: 100% 100%;
      width: 3.125vw;
      height: 3.125vw;
      display: flex;
    }
  }
}

.arrow-white{
  &__right{
    &:before{
      content: '';
      background-image: url(../images/arrow-white.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 3.125vw;
      height: 3.125vw;
      display: flex;
    }
  }

  &__left{
    &:before{
      content: '';
      background-image: url(../images/arrow-white-left.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 3.125vw;
      height: 3.125vw;
      display: flex;
    }
  }
}

.button{
  font-size: 1.04vw;
  font-weight: bold;
  color: white;
  line-height: 1;
  padding: 15px 30px;
  background: color('red', 'base');
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-right: auto;

  &.border{
    background: transparent;
    border: 3px solid color('red', 'base');
  }

  img{
    width: 2.6vw;
    margin-right: 15px
  }

  @media #{$small-and-down} {
    font-size: 14px;
    padding: 10px 20px;

    img{
      width: 25px;
    }
  }
}