$grey: (
	"base": #EDEDED,
	"darken": #7D7C7A,
);
$red: (
	"base": #E50019,
);
$green: (
	"base": #70C166,
	"darken": #1D2925,
);

$blue: (
	"base": #0096D9,
);

$purple: (
	"base": #91328D,
	"darken": #4A0847,
);

$yellow: (
	"base": #FCE602,
);

$orange: (
	"base": #F46B4B,
	"darken": #4F282C,
);

$social: (
	"facebook": #3B5998,
	"twitter": #55ACEE,
	"instagram": #000,
	"whatsapp": #25d366,
	"youtube": #F03232
);
$shades: (
  "black":        #1A1818,
	"white":        #FFF,
  "transparent":  transparent
);

$colors: (
	"grey": $grey,
	"red": $red,
	"green": $green,
	"social": $social,
	"shades": $shades,
	"purple": $purple,
	"yellow": $yellow,
	"orange": $orange,
	"blue": $blue,
);

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  //@warn "Unknown `#{name}` in $colors.";
  @return null;
}