.title{
  &__section{
    font-family: $font-secondary;
    font-size: 5vw;
    line-height: 1;
  }

  @media #{$small-and-down}{
    &__section{
      font-size: 25px;
    }
  }
}

#modal-video{
  display: flex;

  iframe{
    width: 80vw;
    height: 40vw;
    margin-bottom: -1px;
  }
}

.margin-auto{
  margin: auto;
}

p{
  font-size: 1.25vw;

  @media #{$small-and-down}{
    font-size: 15px;
  }
}

.image-frame{
  border: 5px solid #3E3E3E;
  width: max-content;
  display: flex;
  align-items: center;

  img{
    transform: translate(-2vw, 2vw);
  }

  @media #{$small-and-down}{
    border-width: 3px;

    img{
      transform: translate(-10px, 10px);
    }
  }
}

.indentation{
  &__page{
    padding-left: calc(15.625vw - 100px);

    @media #{$xl-and-down} {
      padding-left: calc(15.625vw - 50px);
    }

    @media #{$large-and-down} {
      padding-left: calc(15.625vw - 30px);
    }

    @media #{$small-and-down} {
      padding-left: 0;
    }
  }

  &__full-page{
    padding-left: calc(15.625vw - 100px);
    padding-right: calc(15.625vw - 100px);

    @media #{$xl-and-down} {
      padding-left: calc(15.625vw - 50px);
      padding-right: calc(15.625vw - 50px);
    }

    @media #{$large-and-down} {
      padding-left: calc(15.625vw - 30px);
      padding-right: calc(15.625vw - 30px);
    }

    @media #{$small-and-down} {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__mid-page{
    padding-left: 7.5vw;
    padding-right: 7.5vw;

    @media #{$small-and-down}{
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__text{
    padding-left: 4.42vw;
  }
}

.half-on-medium{
  width: 50%;
  max-width: 50%;

  @media #{$small-and-down} {
    width: 100%;
    max-width: 100%;
  }
}

.wpcf7-response-output{
  color: white !important;
}