/* -----------------------------------------------------------------------------

  HAMBURGER ICONS COMPONENT
  
----------------------------------------------------------------------------- */

// vars

$button-width: 60px;                    // The width of the button area
$button-height: 60px;                   // The height of the button area
$bar-thickness: 3px;                    // The thickness of the button bars
$button-pad: 6px;                      // The left/right padding between button area and bars.
$button-bar-space: 5px;                // The spacing between button bars
$button-transistion-duration: 0.3s;     // The transition duration
$color-bar: white;

.hamburguer {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	margin: 0 60px 0 0;
	padding: 0;
	width: $button-width;
	height: $button-height;
	cursor: pointer;
	transition: background $button-transistion-duration;
	z-index: 99;
	background: transparent;
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	
	@media (min-width: 1024px) {
		display: none;
	}
	
	span {
		display: block;
		position: absolute;
		top: 28px;
		left: 15px;
		right: 15px;
		height: $bar-thickness;
		background: $color-bar;
		transition: background 0s $button-transistion-duration;
		
		&:before,
		&:after {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: $bar-thickness;
			background: $color-bar;
			content: "";
			transition-duration: $button-transistion-duration, $button-transistion-duration;
			transition-delay: $button-transistion-duration, 0s;
		}
		
		&:before {
			top: -7px;
			transition-property: top, transform;
		}
		&:after {
			bottom: -7px;
			transition-property: bottom, transform;
		}
	}
	
	&.active {
		span {
			background: none !important;
			
			&:before {
				top: 0;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 0;
				transform: rotate(-45deg);
			}
			&:before,
			&:after {
				transition-delay: 0s, $button-transistion-duration;
			}
		}
	}
}