.post{
  display: flex;
  flex-wrap: wrap;
  margin: 2.6vw 0;

  &__item{
    width: calc((100% - 3.6vw) / 3);
    margin-bottom: 3.6vw;
    display: flex;
    flex-direction: column;

    &:not(:nth-child(3n)) {
      margin-right: 1.8vw;
    }

    &--image{
      max-height: 14.5vw;
      display: flex;
      overflow: hidden;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &--content{
      padding: 2.60vw 2.60vw 0;
      display: flex;
	    flex-direction: column;
	    flex: 1;
    }

    &--title{
      font-family: $font-secondary;
      font-size: 2.44vw;
      line-height: 1;
    }

    &--text{
      font-size: 1.25vw;
      color: #7D7C7A;
      margin-bottom: 10px;
    }

    &--date{
      font-size: 0.98vw;
      font-weight: bold;
      margin-bottom: 30px;
      padding-bottom: 10px;
      border-bottom: 2px solid color('red', 'base');
      margin-top: auto;
    }
  }

  @media #{$small-and-down} {
    flex-direction: column;
    margin: 20px 0;

    &__item{
      width: 100%;
      margin-bottom: 50px;
      margin-right: 0;

      &--image{
        max-height: 42vw;
      }

      &--title{
        font-size: 22px;
      }

      &--text{
        font-size: 15px;
      }

      &--date{
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  }
}