table{
  thead{
    background: #eeeff0;

    tr{
      th{
        color: #565656;
        padding: 10px;
        font-size: 12px;
        text-align: right;
        text-transform: uppercase;
      }
    }
  }

  tbody{
    tr{
      border-top: 1px solid #bababa;

      td{
        text-align: right;
        padding: 10px;
        font-size: 12px;
      }
    }
  }
}