// 11. Global
// ==========================================================================

// Media Query Ranges
$small-screen-up: 769px !default;
$medium-screen-up: 1025px !default;
$large-screen-up: 1281px !default;
$small-screen: 768px !default;
$medium-screen: 1024px !default;
$large-screen: 1280px !default;
$xl-screen: 1600px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$xl-and-down: "only screen and (max-width : #{$xl-screen})" !default;

// Gradients
$green-to-blue: linear-gradient(to right, #93C700 , #009FE1);
$blue-to-pink: linear-gradient(to right, #0A42A3 , #B32897);
$pink-to-blue: linear-gradient(to left, #0A42A3 , #B32897);
$orange-to-yellow: linear-gradient(to right, #FF7300 , #FFBC00);
$blue-to-blue: linear-gradient(to right, #009FE1 , #0037AC);
$pink-to-orange: linear-gradient(to right, #FF28C3 , #FF7300);


// 12. Grid
// ==========================================================================

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;


// 18. Tables
// ==========================================================================

$table-border-color: #d0d0d0 !default;
$table-striped-color: #f2f2f2 !default;


// 19. Toasts
// ==========================================================================

$toast-height: 48px !default;
$toast-color: #000 !default;
$toast-text-color: #fff !default;


// 20. Typography
// ==========================================================================

$font: 'Helvetica', sans-serif;
$font-secondary: "DMSerifDisplay";

$off-black: rgba(0, 0, 0, 0.87) !default;
// Header Styles
$h1-fontsize: 2rem !default;
$h2-fontsize: 1.5rem !default;
$h3-fontsize: 1.3rem !default;
$h4-fontsize: 1.2rem !default;
$h5-fontsize: 1.1rem !default;
$h6-fontsize: 1rem !default;


// Extras
$scrollbarSize: 0px;

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}