/* line 73, ../sass/components/_variables.scss */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 9, ../sass/components/_normalize.scss */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../sass/components/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, ../sass/components/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, ../sass/components/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, ../sass/components/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 77, ../sass/components/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../sass/components/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 98, ../sass/components/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 110, ../sass/components/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 118, ../sass/components/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 127, ../sass/components/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 136, ../sass/components/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 141, ../sass/components/_normalize.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 149, ../sass/components/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 158, ../sass/components/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 166, ../sass/components/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 174, ../sass/components/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 178, ../sass/components/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 189, ../sass/components/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 197, ../sass/components/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 208, ../sass/components/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 216, ../sass/components/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 225, ../sass/components/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 233, ../sass/components/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 256, ../sass/components/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 270, ../sass/components/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 281, ../sass/components/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 294, ../sass/components/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 306, ../sass/components/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 315, ../sass/components/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 326, ../sass/components/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 338, ../sass/components/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 350, ../sass/components/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 360, ../sass/components/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 371, ../sass/components/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 380, ../sass/components/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 391, ../sass/components/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 400, ../sass/components/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 409, ../sass/components/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 420, ../sass/components/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 425, ../sass/components/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 1, ../sass/components/_post.scss */
.post {
  display: flex;
  flex-wrap: wrap;
  margin: 2.6vw 0;
}
/* line 6, ../sass/components/_post.scss */
.post__item {
  width: calc((100% - 3.6vw) / 3);
  margin-bottom: 1.8vw;
  display: flex;
  flex-direction: column;
}
/* line 12, ../sass/components/_post.scss */
.post__item:not(:nth-child(3n)) {
  margin-right: 1.8vw;
}
/* line 16, ../sass/components/_post.scss */
.post__item--image {
  max-height: 14.5vw;
  display: flex;
  overflow: hidden;
}
/* line 21, ../sass/components/_post.scss */
.post__item--image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* line 28, ../sass/components/_post.scss */
.post__item--content {
  padding: 2.60vw 2.60vw 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}
/* line 35, ../sass/components/_post.scss */
.post__item--title {
  font-family: "DMSerifDisplay";
  font-size: 2.44vw;
  line-height: 1;
}
/* line 41, ../sass/components/_post.scss */
.post__item--text {
  font-size: 1.25vw;
  color: #7D7C7A;
  margin-bottom: 10px;
}
/* line 47, ../sass/components/_post.scss */
.post__item--date {
  font-size: 0.98vw;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #E50019;
  margin-top: auto;
}
@media only screen and (max-width: 768px) {
  /* line 1, ../sass/components/_post.scss */
  .post {
    flex-direction: column;
    margin: 20px 0;
  }
  /* line 61, ../sass/components/_post.scss */
  .post__item {
    width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
  }
  /* line 66, ../sass/components/_post.scss */
  .post__item--image {
    max-height: 42vw;
  }
  /* line 70, ../sass/components/_post.scss */
  .post__item--title {
    font-size: 22px;
  }
  /* line 74, ../sass/components/_post.scss */
  .post__item--text {
    font-size: 15px;
  }
  /* line 78, ../sass/components/_post.scss */
  .post__item--date {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

/* line 2, ../sass/layout/_footer.scss */
.footer__top {
  padding: 2.60vw 0;
}
/* line 5, ../sass/layout/_footer.scss */
.footer__top--content {
  display: flex;
  align-items: center;
  padding-left: 15.625vw;
  position: relative;
}
/* line 11, ../sass/layout/_footer.scss */
.footer__top--content:before {
  content: "";
  position: absolute;
  width: 13vw;
  height: 3px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #E50019;
}
/* line 22, ../sass/layout/_footer.scss */
.footer__top--content:after {
  content: "";
  width: auto;
  height: 3px;
  background: #E50019;
  flex: 1;
  margin-left: 3.64vw;
}
/* line 32, ../sass/layout/_footer.scss */
.footer__top--title {
  font-size: 2.5vw;
  line-height: 1.2;
  max-width: 15.25vw;
}
/* line 38, ../sass/layout/_footer.scss */
.footer__top--link {
  display: flex;
  margin-left: 2vw;
  width: 2.88vw;
}
@media only screen and (max-width: 768px) {
  /* line 2, ../sass/layout/_footer.scss */
  .footer__top {
    padding: 30px 0;
  }
  /* line 47, ../sass/layout/_footer.scss */
  .footer__top--content {
    flex-wrap: wrap;
    padding-left: 30px;
  }
  /* line 51, ../sass/layout/_footer.scss */
  .footer__top--content::before {
    display: none;
  }
  /* line 56, ../sass/layout/_footer.scss */
  .footer__top--title {
    font-size: 22px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 63, ../sass/layout/_footer.scss */
  .footer__top--link {
    width: 30px;
    margin-left: 0;
    margin-right: 15px;
  }
}
/* line 71, ../sass/layout/_footer.scss */
.footer__bottom {
  padding: 2.60vw;
}
/* line 74, ../sass/layout/_footer.scss */
.footer__bottom--logo {
  width: 24vw;
  display: flex;
  align-items: center;
}
/* line 80, ../sass/layout/_footer.scss */
.footer__bottom--block {
  margin: 2.60vw 0;
  width: calc(100% / 4);
}
/* line 85, ../sass/layout/_footer.scss */
.footer__bottom--label {
  font-size: 1vw;
  font-weight: bold;
  text-transform: uppercase;
  color: #E50019;
}
/* line 92, ../sass/layout/_footer.scss */
.footer__bottom--list {
  margin: 10px 0;
}
/* line 96, ../sass/layout/_footer.scss */
.footer__bottom--item {
  font-size: 0.9vw;
  text-transform: uppercase;
  color: white !important;
}
/* line 101, ../sass/layout/_footer.scss */
.footer__bottom--item a {
  color: white !important;
  font-size: 1vw;
}
/* line 105, ../sass/layout/_footer.scss */
.footer__bottom--item a:hover {
  text-decoration: underline;
}
/* line 111, ../sass/layout/_footer.scss */
.footer__bottom .footer-signatures {
  color: #fff;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  /* line 71, ../sass/layout/_footer.scss */
  .footer__bottom {
    padding: 0 0 30px;
  }
  /* line 120, ../sass/layout/_footer.scss */
  .footer__bottom--logo {
    margin-bottom: 10px;
  }
  /* line 123, ../sass/layout/_footer.scss */
  .footer__bottom--logo img {
    max-width: 140px;
  }
  /* line 128, ../sass/layout/_footer.scss */
  .footer__bottom--block {
    margin: 5px 0;
    width: 100%;
  }
  /* line 133, ../sass/layout/_footer.scss */
  .footer__bottom--label {
    font-size: 16px;
  }
  /* line 137, ../sass/layout/_footer.scss */
  .footer__bottom--list {
    margin: 5px 0;
  }
  /* line 141, ../sass/layout/_footer.scss */
  .footer__bottom--item {
    font-size: 14px;
  }
  /* line 144, ../sass/layout/_footer.scss */
  .footer__bottom--item a {
    font-size: 14px;
  }
}

/* line 152, ../sass/layout/_footer.scss */
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder {
  cursor: -moz-pointer;
  cursor: -webkit-pointer;
  cursor: pointer !important;
}

/* line 158, ../sass/layout/_footer.scss */
button.mfp-close,
button.mfp-arrow {
  cursor: pointer !important;
}

/* line 163, ../sass/layout/_footer.scss */
.mfp-close {
  cursor: pointer !important;
}

/* line 167, ../sass/layout/_footer.scss */
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer !important;
}

/**
 * Swiper 4.2.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2018 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: April 1, 2018
 */
/* line 12, ../sass/components/plugins/_swiper.scss */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

/* line 21, ../sass/components/plugins/_swiper.scss */
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

/* line 24, ../sass/components/plugins/_swiper.scss */
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 31, ../sass/components/plugins/_swiper.scss */
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 48, ../sass/components/plugins/_swiper.scss */
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

/* line 53, ../sass/components/plugins/_swiper.scss */
.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 58, ../sass/components/plugins/_swiper.scss */
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

/* line 64, ../sass/components/plugins/_swiper.scss */
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

/* line 77, ../sass/components/plugins/_swiper.scss */
.swiper-invisible-blank-slide {
  visibility: hidden;
}

/* Auto Height */
/* line 81, ../sass/components/plugins/_swiper.scss */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

/* line 85, ../sass/components/plugins/_swiper.scss */
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */
/* line 97, ../sass/components/plugins/_swiper.scss */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

/* line 101, ../sass/components/plugins/_swiper.scss */
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 111, ../sass/components/plugins/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

/* line 123, ../sass/components/plugins/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}

/* line 129, ../sass/components/plugins/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
}

/* line 135, ../sass/components/plugins/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

/* line 141, ../sass/components/plugins/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

/* IE10 Windows Phone 8 Fixes */
/* line 148, ../sass/components/plugins/_swiper.scss */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

/* line 153, ../sass/components/plugins/_swiper.scss */
.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

/* line 158, ../sass/components/plugins/_swiper.scss */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 171, ../sass/components/plugins/_swiper.scss */
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

/* line 177, ../sass/components/plugins/_swiper.scss */
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

/* line 183, ../sass/components/plugins/_swiper.scss */
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

/* line 189, ../sass/components/plugins/_swiper.scss */
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

/* line 193, ../sass/components/plugins/_swiper.scss */
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

/* line 197, ../sass/components/plugins/_swiper.scss */
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

/* line 201, ../sass/components/plugins/_swiper.scss */
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

/* line 205, ../sass/components/plugins/_swiper.scss */
.swiper-button-lock {
  display: none;
}

/* line 208, ../sass/components/plugins/_swiper.scss */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

/* line 218, ../sass/components/plugins/_swiper.scss */
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
/* line 222, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Bullets */
/* line 230, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

/* line 234, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative;
}

/* line 240, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* line 245, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* line 250, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66);
}

/* line 255, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
}

/* line 260, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66);
}

/* line 265, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
}

/* line 270, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

/* line 278, ../sass/components/plugins/_swiper.scss */
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 288, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

/* line 291, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-bullet-active {
  opacity: 1;
}

/* line 295, ../sass/components/plugins/_swiper.scss */
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}

/* line 301, ../sass/components/plugins/_swiper.scss */
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}

/* line 305, ../sass/components/plugins/_swiper.scss */
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
}

/* line 312, ../sass/components/plugins/_swiper.scss */
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}

/* line 320, ../sass/components/plugins/_swiper.scss */
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

/* line 323, ../sass/components/plugins/_swiper.scss */
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}

/* line 330, ../sass/components/plugins/_swiper.scss */
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}

/* line 337, ../sass/components/plugins/_swiper.scss */
.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}

/* Progress */
/* line 345, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

/* line 349, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

/* line 363, ../sass/components/plugins/_swiper.scss */
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}

/* line 368, ../sass/components/plugins/_swiper.scss */
.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

/* line 375, ../sass/components/plugins/_swiper.scss */
.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 382, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff;
}

/* line 385, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25);
}

/* line 388, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff;
}

/* line 391, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000;
}

/* line 394, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25);
}

/* line 397, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000;
}

/* line 400, ../sass/components/plugins/_swiper.scss */
.swiper-pagination-lock {
  display: none;
}

/* Scrollbar */
/* line 404, ../sass/components/plugins/_swiper.scss */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

/* line 410, ../sass/components/plugins/_swiper.scss */
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

/* line 418, ../sass/components/plugins/_swiper.scss */
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

/* line 426, ../sass/components/plugins/_swiper.scss */
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

/* line 435, ../sass/components/plugins/_swiper.scss */
.swiper-scrollbar-cursor-drag {
  cursor: move;
}

/* line 438, ../sass/components/plugins/_swiper.scss */
.swiper-scrollbar-lock {
  display: none;
}

/* line 441, ../sass/components/plugins/_swiper.scss */
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

/* line 458, ../sass/components/plugins/_swiper.scss */
.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

/* line 466, ../sass/components/plugins/_swiper.scss */
.swiper-slide-zoomed {
  cursor: move;
}

/* Preloader */
/* line 470, ../sass/components/plugins/_swiper.scss */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

/* line 485, ../sass/components/plugins/_swiper.scss */
.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* line 495, ../sass/components/plugins/_swiper.scss */
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* a11y */
/* line 511, ../sass/components/plugins/_swiper.scss */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

/* line 519, ../sass/components/plugins/_swiper.scss */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 524, ../sass/components/plugins/_swiper.scss */
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

/* line 530, ../sass/components/plugins/_swiper.scss */
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

/* line 533, ../sass/components/plugins/_swiper.scss */
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* line 537, ../sass/components/plugins/_swiper.scss */
.swiper-container-cube {
  overflow: visible;
}

/* line 540, ../sass/components/plugins/_swiper.scss */
.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

/* line 552, ../sass/components/plugins/_swiper.scss */
.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

/* line 555, ../sass/components/plugins/_swiper.scss */
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

/* line 560, ../sass/components/plugins/_swiper.scss */
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* line 564, ../sass/components/plugins/_swiper.scss */
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

/* line 571, ../sass/components/plugins/_swiper.scss */
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 579, ../sass/components/plugins/_swiper.scss */
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

/* line 591, ../sass/components/plugins/_swiper.scss */
.swiper-container-flip {
  overflow: visible;
}

/* line 594, ../sass/components/plugins/_swiper.scss */
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

/* line 600, ../sass/components/plugins/_swiper.scss */
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

/* line 603, ../sass/components/plugins/_swiper.scss */
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* line 607, ../sass/components/plugins/_swiper.scss */
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 615, ../sass/components/plugins/_swiper.scss */
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}

/* Magnific Popup CSS */
/* line 2, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

/* line 14, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-wrap {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
@media only screen and (max-width: 768px) {
  /* line 14, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-wrap {
    top: 0px !important;
  }
}

/* line 29, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

/* line 42, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 48, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-align-top .mfp-container:before {
  display: none;
}

/* line 51, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
  background-color: #fafafa;
}

/* line 62, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  cursor: auto;
}

/* line 66, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-ajax-cur {
  cursor: progress;
}

/* line 69, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

/* line 74, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

/* line 80, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

/* line 83, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 91, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-loading.mfp-figure {
  display: none;
}

/* line 94, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-hide {
  display: none !important;
}

/* line 97, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-preloader {
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

/* line 102, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-preloader a {
  color: #CCC;
}

/* line 104, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-preloader a:hover {
  color: #FFF;
}

/* line 107, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-s-ready .mfp-preloader {
  display: none;
}

/* line 110, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-s-error .mfp-content {
  display: none;
}

/* line 113, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
button.mfp-close,
button.mfp-arrow {
  color: #aeaeae;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

/* line 128, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 132, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-close {
  width: 48px;
  height: 48px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

/* line 147, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

/* line 150, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-close:active {
  top: 1px;
}

/* line 156, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

/* line 164, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

/* line 173, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

/* line 183, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-arrow:active {
  margin-top: -54px;
}

/* line 185, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

/* line 188, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

/* line 200, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

/* line 204, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

/* line 209, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-arrow-left {
  left: 0;
}

/* line 211, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

/* line 214, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

/* line 218, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-arrow-right {
  right: 0;
}

/* line 220, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

/* line 223, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

/* line 226, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 229, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

/* line 233, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-iframe-holder .mfp-close {
  top: -40px;
}

/* line 236, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

/* line 241, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
/* line 252, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

/* The shadow behind the image */
/* line 263, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-figure {
  line-height: 0;
}

/* line 265, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

/* line 278, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

/* line 283, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-figure figure {
  margin: 0;
}

/* line 286, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

/* line 294, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

/* line 301, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-image-holder .mfp-content {
  max-width: 100%;
}

/* line 304, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  /* line 311, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 314, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  /* line 316, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  /* line 319, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  /* line 322, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }

  /* line 330, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  /* line 332, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  /* line 335, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  /* line 347, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  /* line 350, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  /* line 353, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  /* line 356, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-container {
    padding: 0px;
  }
}
/* 
====== Zoom effect ======
*/
/* line 363, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
/* line 366, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-zoom-in .mfp-content {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
/* line 372, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
/* line 379, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-zoom-in.mfp-ready .mfp-content {
  opacity: 1;
  transform: scale(1);
}
/* line 383, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* line 391, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-zoom-in.mfp-removing .mfp-content {
  transform: scale(0.8);
  opacity: 0;
}
/* line 395, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* line 404, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-content h1, .mfp-content h2, .mfp-content h3, .mfp-content h4, .mfp-content h5, .mfp-content h6 {
  text-transform: uppercase;
  font-weight: bold;
  color: #aeaeae;
}
/* line 409, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-content h1 {
  font-size: 1.3rem;
  margin: 20px 0px;
}
/* line 410, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-content h2 {
  font-size: 1.2rem;
  margin: 16px 0px;
}
/* line 411, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-content h3 {
  font-size: 1.1rem;
  margin: 12px 0px;
}
/* line 412, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-content h4 {
  font-size: .1rem;
  margin: 8px 0px;
}
/* line 413, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-content h5 {
  font-size: .9rem;
  margin: 8px 0px;
}
/* line 414, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-content h6 {
  font-size: .8rem;
  margin: 4px 0px;
}
@media only screen and (max-width: 768px) {
  /* line 403, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
  .mfp-content {
    width: 100%;
  }
}

/* line 421, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.modal-title {
  background: #ececec;
  padding: 16px;
}
/* line 424, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.modal-title h1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
}

/* line 433, ../sass/components/plugins/magnific.popup/_magnific.popup.scss */
.mfp-content .modal-content {
  padding: 24px;
}
