.footer{

  &__bottom{
    padding: 2.60vw;
    padding-bottom: 0;

    &--logo{
      width: 293px;
    }

    &--social{
      margin-top: 34px;

      &-title{
        font-size: 18px;
        margin-bottom: 13px;
      }

      &-link{
        padding-right: 14px;

        img{
          max-width: 33px;
          height: auto;
        }
      }
    }

    &--block{
      margin-bottom: 2vw;
      width: calc(100% / 3);

      &:first-child{
        padding-right: 100px;
      }
    }

    &--label{
      font-size: 1vw;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
    }

    &--list{
      margin: 25px 0;
      margin-bottom: 0;
    }

    &--item{
      font-size: 0.9vw;
      text-transform: uppercase;
      color: white !important;
      padding: 6px 0;

      a{
        color: white !important;
        font-size: 1vw;
        
        &:hover{
          text-decoration: underline;
        }
      }
    }

    @media #{$small-and-down} {
      padding: 30px 30px 10px 30px;

      .container{
        width: 100%;
      }

      &--social{
        margin-bottom: 34px;
      }

      &--block{
        width: 100%;

        &:nth-child(2){
          margin-bottom: 40px;
        }
      }

      &--label{
        font-size: 16px;
      }

      &--list{
        margin: 5px 0;
      }

      &--item{
        font-size: 14px;
        margin-bottom: 6px;

        a{
          font-size: 14px;
          border-bottom: 1px solid red;
          padding-bottom: 6px;
        }
      }

    }
  }

  .footer-signatures{
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 26px 0;
    border-top: 1px solid #E50019;
    width: 100%;
    font-size: 15px;

    @media #{$small-and-down}{
      padding: 30px;
    }
  }
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder {
	cursor: -moz-pointer;
	cursor: -webkit-pointer;
	cursor: pointer !important; 
  }
  
button.mfp-close,
button.mfp-arrow {
	cursor: pointer !important;
}
  
.mfp-close {
	cursor: pointer !important;
}
  
.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer !important; 
}