.header{
  background: rgba(26, 24, 24, .9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 99;

  .logo{
    position: relative;
    z-index: 2;
  }

  .menu{
    display: flex;
    align-items: center;
    margin: 0 270px 0 auto;

    &__item{
      padding: 15px 20px;

      &:not(:last-of-type){
        border-right: 1px solid #7D7C7A;
      }

      &--link{
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        line-height: 1;
      }
    }
  }

  .event-button{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 350px;
    height: 100%;
    background: #E50019;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
      font-size: 20px;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1;
      margin-left: 30px;
    }
  }

  @media #{$xl-and-down}{
    height: 80px;

    .logo{
      width: 200px;
    }

    .menu{
      margin: 0 250px 0 auto;

      &__item{
        padding: 10px 15px;

        &--link{
          font-size: 16px;
        }
      }
    }

    .event-button{
      width: 300px;

      img{
        width: 30px;
      }

      span{
        font-size: 18px;
      }
    }
  }

  @media #{$large-and-down} {
    height: 60px;

    .logo{
      width: 160px;
    }

    .menu{
      margin: 0 190px 0 auto;

      &__item{
        &--link{
          font-size: 14px;
        }
      }
    }

    .event-button{
      width: 220px;

      img{
        width: 25px;
      }

      span{
        font-size: 16px;
        margin-left: 10px;
      }
    }
  }

  @media #{$medium-and-down} {
    .menu{
      position: fixed;
      z-index: 1;
      background: rgba(26,24,24,0.9);
      left: 0;
      top: 60px;
      height: auto;
      width: 100%;
      flex-direction: column;
      padding: 30px 0;
      transition: .4s;
      transform: translateY(calc(-100% - 60px));

      &.active{
        transition: .4s;
        transform: translateY(0);
      }

      &__item{
        border: none !important;
        padding: 20px 0;
      }
    }

    .event-button{
      width: auto;
      padding: 15px;

      span{
        display: none;
      }
    }
  }
}